asgiref==3.4.1
Deprecated==1.2.13
Django==3.2.9
django-cors-headers==3.10.0
django-haystack==3.1.1
django-redis==5.0.0
elastic==4.0.22
elasticsearch==5.4.0
mysqlclient==2.0.3
Pillow==8.4.0
ply==3.11
pytz==2021.3
redis==4.0.2
simplejson==3.17.5
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.3